@charset "UTF-8";

/*ウィンドウ幅が901px以上の場合に適用するCSS*/
@media screen and (min-width:901px)
{
    * {
        margin: 0;
        padding: 0;
    }
    
/*    topimage*/
    .topimage-box {
        width: 100%;
        height: 60vw;
        background-image: url(../images/top2.jpg);
        background-attachment: fixed;
    }
    
    header {
        display: flex;
    }
    
/*    logo*/
    h1 {
        width: 20vw;
    }
    
    h1 img {
        width: 20vw;
        
    }

    /*navi*/
    
    .nav-box {
        display: flex;
}
    
    .topimage-box nav {
        width: 60vw;
        margin-top: 0.4vw;
        margin-right: ;
        margin-left: auto;
        margin-bottom: ;
    }

    .topimage-box nav ul {
        display: flex;
        list-style-type: none;
    }

    .topimage-box nav ul li {
        width: 10vw;
        font-family: 'Roboto', sans-serif;
    }

    .topimage-box nav ul li a {
        display: block;
        margin-left: 1vw;
        text-align: center;
        line-height: 3;
        color: #111111;
        text-decoration: none;
        background:
        linear-gradient(currentColor 0 0) 0 100% /var(--d, 0) 1.4px no-repeat,
        linear-gradient(currentColor 0 0) 100% calc(100% - 6px) /var(--d, 0) 1.4px no-repeat;
        transition: 0s 0.5s, background-size 0.5s;
    }
    
    .topimage-box nav ul li a:hover {
        --d: 100%;
        background-position: 0% calc(100% - 3px), 100% calc(100% - 3px);
        transition: 0.5s, background-position 0.3s 0.3s;
        color: green;
    }
    
    /* --- 検索全体のBOX (サンプル用)--- */
.searchArea{
  width          : 14vw;              /* BOXの幅               */
  height         : 25px;               /* BOXの高さ             */
  margin         : 1vw;                /*サンプルを中心に寄せ  */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
}
 
 /* --- テキスト入力欄のSTYLE設定 --- */
.searchArea .searchText {
  display        : block;              /* ブロック化            */
  float          : left;               /* 横並び                */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 25px;               /* 入力の高さ            */
  width          : 170px;              /* 入力の幅              */
  margin         : 0;                  /* 外余白                */
  padding        : 0 12px;             /* 内余白                */
  border         : 2px solid green;  /* 枠線　幅,実践,色      */
  border-radius  : 12px 0 0 12px;      /* 左上下の角丸          */
  color          : #333;               /* 文字色                */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
  font-size      : 13px;               /* フォントサイズ        */
}
 
 /* --- 検索ボタン欄のSTYLE設定 --- */
.searchArea .searchButton {
  float          : left;               /* 横並び                */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 25px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 0 12px 12px 0;      /* 右上下の角丸          */
  background     : green;            /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */
  line-height    : 13px;               /* 1行の高さ             */
  font-size      : 13px;               /* フォントサイズ        */
}
 
 /* --- 検索ボタン欄にフォーカスか来たとき --- */
.searchArea .searchText:focus {
  background     : #cfe7ff;            /* フォーカス時の背景色  */
}
 
 /* --- IEの入力エリア右側×消し -------------------------*/
.searchArea .searchText::-ms-clear {
  display        : none;               /* ×を消す              */
}
    
/*    スクロール*/
    .scroll {
  margin: auto;
  width: 100%;
  font-size: 140%;
  line-height: 1.5em;
  text-align: center;
border-top: 1.4px solid green;
  border-bottom: 1.4px solid green;
  color: red;
  background: #fff;
  overflow: hidden;
        opacity: 0.8;
        font-family: 'Roboto', sans-serif;
}
.scroll span{
  display     : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation   : scrollAnime 11s linear infinite;
}
@keyframes scrollAnime{
    0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}
    
/*    login*/
    .catch-box {
        position: relative;
        top: 10vw;
        left: 3.9vw;
        width: 20vw;
        height: 14vw;
        opacity: 0.8;
        z-index: 100;
        border: 1.4px solid green;
        background-color: white;
    }
    
    .catch-box p {
        width: 10vw;
        padding-top: 1vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.4em;
        color: #333;
        text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
        font-family: 'Roboto', sans-serif;
    }
    
/*    https://cssbuttons.app/buttons/31*/
    .bn31 {
        background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
        border-radius: 40px;
        box-sizing: border-box;
        color: #00a84f;
        display: block;
        height: 50px;
        font-size: 1.4em;
        padding: 4px;
        position: relative;
        text-decoration: none;
        width: 7em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 2;
        transition: background 2s;
    }

    .bn31:hover {
        color: #fff;
        transition: background 1s;
    }

    .bn31 .bn31span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 2s;
    width: 100%;
    }

    .bn31:hover .bn31span {
        background: transparent;
        transition: background 1s;
    }
    
/*    icon*/
    .service-box {
        position: relative;
        top: -8vw;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        padding-bottom: 2vw;
        background-color: white;
    }
    
    .service-box h2 {
        width: 20vw;
        padding-top: 2vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 2vw;
        text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    }
    
    .icon-box {
        display: flex;
    }
    .icon {
        display: flex;
        width: 20vw;
        margin-top: 2vw;
        margin-right: auto;
        margin-left: 3vw;
    }
    
    .icon img {
        
    }
    
    .icon p {
    
    }
    
/*    https://webparts.cman.jp/balloon/over/*/
    .balloonoya {
        position   : relative;                /* 指定した分だけ相対的に移動 */
    }
    .balloonoya:hover .balloon {
        display: inline;                /* インライン要素として表示 */
    }
    .balloon {
        position   : absolute;                /* 親要素を基準 */
        display: none;                        /* 要素を非表示 */
        padding: 1vw;                         /* テキストの前後の余白 */
        background-color: rgba(0, 179, 0, 0.50);       /* 背景色（透明度） */
        width:10vw;                          /* 吹き出し全体の幅 */
        left : 5vw;                          /* 表示位置 */
        font-size: 100%;                       /* 文字サイズ */
        text-align: center;
        font-family: 'Roboto', sans-serif;
        text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    }
    .balloon:after{
        border-right: 12px solid rgba(0, 179, 0, 0.50);  /* 吹き出し口の幅・色 */
        border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
        border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
        left: -12px;                            /* 吹き出し口の位置調整 */
        top: 5%;                                /* 吹き出し口の縦位置 */
        content: "";                       /* コンテンツの挿入 */
        position: absolute;                /* 親要素を基準 */
    }
    
    
    .campaign-box {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vw;
    }
    
    .campaign-box h2 {
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vw;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 2vw;
        text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    }
    
    .campaign {
        display: flex;
        justify-content: space-around;
    }
    
    .campaign img {
    }
    
    .campaign-img1 {
    }
    
    .campaign-img1:hover {
    }
    
    /*news*/
    .news-box {
        width: 91vw;
        margin-bottom: 5vw;
        margin-bottom: 10vw;
        margin-left: auto;
        margin-right: auto;
    }

    .news-box h2 {
        margin-bottom: 2vw;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 2vw;
        text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    }

    .news-box ul {
        display: flex;
        line-height: 2.6;
        list-style-type: none;
        border-bottom: 1.4px dashed green;;
    }

    .news-box ul li:nth-child(1) {
        margin-left: 0.4vw;
        margin-right: 4vw;
        font-family: 'Roboto', sans-serif;
    }

    .news-box ul li a {
        color: #696969;
        text-decoration: none;
    }
    
    .news {
        margin-top: 0.4vw;
    }
    
/*    question*/
    
    .question-box {
        width: 92%;
        display: flex;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10vw;
    }
    
    .question-title h2{
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vw;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 2vw;
        text-shadow: 0 20px 10px rgba(0, 0, 0, .5);
    }
    
    .question-box h2 {
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vw;
        text-align: left;
        background-color: red;
        font-family: 'Roboto', sans-serif;
    }
    
    .question {
        width: 20vw;
        margin-left: 3.5vw;
        margin-bottom: 2vw;
    }
    
    .question h3 {
        width: 16vw;
        border-bottom: 1px solid green;
    }
    
    .question nav ul{
        list-style-type: none;
    }
    
    .question nav ul li {
        font-family: 'Roboto', sans-serif;
    }
    
    .question nav ul li a {
        display: block;
        line-height: 2;
        color: #111111;
        text-decoration: none;
        transition: 1s;
    }
    
    .question nav ul li a:hover {
        color: green;
        transition: 1s;
    }
    
/*    .policy*/
    .policy-box {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .policy-title nav {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid green;
    }
    
    .policy-title nav ul {
        display: flex;
        list-style-type: none;
    }
    
    .policy-title nav ul li {
        width: 9vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .policy-title nav ul li a {
        display: block;
        line-height: 2;
        color: #111111;
        text-decoration: none;
        transition: 1s;
    }
    
    .policy-title nav ul li a:hover {
        color: green;
        transition: 1s;
    }
    
    .policy {
        display: flex;
        justify-content: space-around;
        width: 92%;
        margin-top: 0.6vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .policy nav ul {
        list-style-type: none;
    }
    
    .policy nav ul li {
        width: 26vw;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
    }
    
    .policy nav ul li a {
        display: block;
        line-height: 1.6;
        color: #111111;
        text-decoration: none;
        transition: 1s;
    }
    
    .policy nav ul li a:hover {
        color: green;
        transition: 1s;
    }
    
    .policy-box p {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
    }
    
    /*アイコン*/
    footer {
        display: flex;
        width: 92%;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer img {
        width: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer p {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    footer p small {
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .last-box {
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .last-icon {
        width: 18vw;
        margin-top: 0.6vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .last-icon a {
        font-size: 2.5vw;
        color: #111;
        transition: 1s;
    }
    
    .last-icon a:hover {
        color: green;
        transition: 1s;
    }
    
    /*.last-icon a:nth-child(2) {
        margin-left: 0.82vw;
        margin-right: 0.82vw;
    }*/
    
    #page-top {
            position: fixed;
            bottom: 20px;
			right: 20px;
            width: 80px;
            height: 80px;
            border-radius: 40px;
            background-color: green;
		}
		#page-top a {
            display: block;
            line-height: 6;
            font-size: 14px;
			color: #fff;
			text-align: center;
            text-decoration: none;
		}
		#page-top a:hover {
            width: 80px;
            height: 80px;
            border-radius: 40px;
            color: #111;
			background-color: green;
		}

    
    
}

    